main {
  margin: 8px;
  border: 2px solid lightgray;
}

.formContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 150%;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 150%;
}

.label,
.button {
  margin-right: .5rem;
}

.inputContainer {
  margin-bottom: 50px;
}

.imageUploadContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: -350px;
  width: 250px;
}

.locationContainer {
  position: relative;
  left: 30%;
  height: 700px;
  width: 120%;
  margin-bottom: 50px;
}

.submissionContainer {
  position: relative;
  top: -300px;
}

.hiddenButton {
  background-color: transparent;
  border: transparent;
}
