/* CARD CSS */

h2 {
  color: white;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.groupAvatar{
  width: 150px;
}

.image {
  width: 100%;
}

.groupList {
  background: #0b0b12;
  padding: 0px 10px 0px 10px;
  width: 300px;
}

.groupCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1976d2;
  border: 1px solid #292934;
  margin-top: 10px;
  border-radius: 8px;
  width: 90%;
  padding-bottom: 15px;
}

.cardHeader {
  display: flex;
  align-items: center;
  width: 100%;

  border-radius: 10px;
}

.commentLink {
  border-top: 1px solid #292934;
  padding: 8px 8px 11px 8px;
}

.commentLink a {
  color: rgb(190, 190, 190);
  font-weight: medium;
  font-size: 14px;
}

.interactions {
  margin-left: auto; 
  display: flex;
  padding-right: 10px;
}

.hiddenButton {
  background-color: transparent;
  border: transparent;
}
