/* CARD CSS */
.groupCard a{
  text-decoration: none;
}
h2 {
  color: white;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

P{
  color:white;
}
.groupAvatar{
  /* width: 80%;
  padding-top: 10px;
  text-align: center; */
  width:100%;
  overflow: hidden;
}

.image {
  width: 100%;
  height:100%;
  object-fit:cover;
}

.groupList {
  background: #0b0b12;
  padding: 0px 10px 0px 10px;
  width: 80%;
}

.groupCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1976d2;
  border: 2px solid #292934;
  margin-top: 10px;
  border-radius: 8px;
  width: 80%;
  padding-bottom: 15px;
  margin-bottom: 15px;
  max-width:600px;
}

.cardHeader {
  display: flex;
  align-items: center;
  width: 100%;

  border-radius: 10px;
}

.commentLink {
  border-top: 1px solid #292934;
  padding: 8px 8px 11px 8px;
}

.commentLink a {
  color: rgb(190, 190, 190);
  font-weight: medium;
  font-size: 14px;
}

.interactions {
  margin-left: auto; 
  display: flex;
  padding-right: 10px;
}

.hiddenButton {
  background-color: transparent;
  border: transparent;
}

.groupCategory{
  color: white;
  margin-left: 25px;
}

.groupInfo{
  color: white;
  margin-left: 25px;
}

.groupLocation{
  color: white;
  margin-left: 25px;
  width: 200px;
  text-align: center;
}

.linkDiv {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.groupLocation{
  width: 80%;
}