.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.inlineContainer {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.image {
  width: 50px;
}

.textarea {
  resize: none;
}

.hiddenButton {
  background-color: transparent;
  border: transparent;
}