.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.image {
  width: 50px;
}