.header {
  display: flex;
}

.headerInfo {
  display: flex;
  flex-direction: column;
}

.headerTitle {
  margin: 2px 0px 2px;
  font-size: 1.5rem;
}

.date {
  color: gray;
  font-size: .8rem;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.thumbnail {
  width: 150px;
}

.hiddenButton {
  background-color: transparent;
  border: transparent;
}

.layout {
  width: 75%;
  text-align: center;
}
  
.groupDetailButtons {
  padding: 10px;
  display: flex;
  text-align: center;
  justify-content: left;
  gap: 20px;
  color: white;
  width:100%;
}

.postDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}